##############################################################################
#                                                                            #
# Copyright 2024  Nils Bosbach                                               #
#                                                                            #
# This software is licensed under the Apache license.                        #
# A copy of the license can be found in the LICENSE file at the root         #
# of the source tree.                                                        #
#                                                                            #
##############################################################################

config SOC_AVP64
	select ARM64
	select CPU_CORTEX_A
	select ARMV8_A

